.grid {
    width: 300px;
    height: 300px;
    border: solid rgb(0, 0, 0) 1px;
    display: flex;
    flex-wrap: wrap;
}


.grid div {
    width: 20px;
    height: 20px;
}



.invader {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}



.shooter {
    background-color: rgb(13, 39, 182);
}


.laser {
    background-color: rgb(255, 208, 0);
}



.boom {
    background-color: rgb(255, 255, 255);
}


